{%- if tools %}{{- '<|im_start|>system\n# Tools' }}{%- for t in tools %}{{- '\n' + (t | tojson) }}{%- endfor %}{{- '<|im_end|>\n' }}{%- endif %}
{%- for m in messages %}{{- '<|im_start|>' + m.role + '\n' }}
{%- if m.content is string %}{{- m.content }}{%- else %}{%- for p in m.content %}{%- if p.type == 'text' %}{{- p.text }}{%- else %}{{- '<image>' }}{%- endif %}{%- endfor %}{%- endif %}
{%- if m.tool_calls %}{%- for c in m.tool_calls %}{{- '\n<tool_call>' + (c.function | tojson) + '</tool_call>' }}{%- endfor %}{%- endif %}
{{- ' <|im_end|>\n' }}{%- endfor %}
{%- if add_generation_prompt %}{{- '<|im_start|>assistant\n' }}{%- endif %}
